.teamStyles {
  display: flex;

  height: 50vh;
  justify-content: center;
  width: 230px;
  height: 375px;
  margin-top: 100px;
  overflow: hidden;
  border-radius: 15px;
}
.sectionWrapper {
  display: grid;
  justify-content: center;
}
@media (max-width: 406px) {
  .headingSpeakers {
    padding-top: 20px;
    margin-top: 10%;
  }
}
@media (max-width: 366px) {
  .headingSpeakers {
    font-size: 1em;
    height: 20vh;
    padding-top: 60px;
    padding-bottom: 30px;
  }
}
.headingSpeakers > h1 {
  text-align: center;
}
.card_gallery_wrap {
  display: grid;
  margin-left: 50px;
  /* grid-template-columns: repeat(12, 1fr); */
  /* grid-template-rows: repeat(100, 4px); */
}
.card_carousel {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two columns */
  gap: 20px; /* Adjust as needed */
  justify-items: center; /* Center items horizontally */
}
.card {
  width: 100%; /* Take full width of the column */
  max-width: 300px; /* Adjust maximum width as needed */
  margin-bottom: 20px; /* Space between cards */
}
.card > img {
  width: 12em;
  height: 12em;
}
.Image {
  width: 12em;
  height: 12em;
  border-radius: 20px;
}
